n8n-workflows/ai-payment-workflow.json
{
    "name": "VeilPiercer — AI Payment + Welcome (Ollama)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "payment-confirmed",
                "responseMode": "onReceived",
                "options": {}
            },
            "id": "c3d4e5f6-0003-0003-0003-000000000001",
            "name": "NEXUS Payment Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                200,
                300
            ],
            "webhookId": "payment-confirmed"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://127.0.0.1:3000/ollama/agent",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "task",
                            "value": "write-welcome-email"
                        },
                        {
                            "name": "model",
                            "value": "llama3.2:1b"
                        },
                        {
                            "name": "data",
                            "value": "={{ { email: $json.email, tier: $json.tier, amount: $json.amount } }}"
                        }
                    ]
                },
                "options": {
                    "timeout": 60000
                }
            },
            "id": "c3d4e5f6-0003-0003-0003-000000000002",
            "name": "Ollama — Write Welcome Email",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                440,
                200
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://127.0.0.1:3000/ollama/agent",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "task",
                            "value": "analyze-logs"
                        },
                        {
                            "name": "model",
                            "value": "llama3.2:1b"
                        }
                    ]
                },
                "options": {
                    "timeout": 60000
                }
            },
            "id": "c3d4e5f6-0003-0003-0003-000000000003",
            "name": "Ollama — Analyze System Logs",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                440,
                400
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://127.0.0.1:3000/n8n/action",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "action",
                            "value": "capture"
                        },
                        {
                            "name": "params",
                            "value": "={{ { email: $('NEXUS Payment Webhook').item.json.email, tier: $('NEXUS Payment Webhook').item.json.tier, amount: $('NEXUS Payment Webhook').item.json.amount, aiEmail: $('Ollama — Write Welcome Email').item.json.response } }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "c3d4e5f6-0003-0003-0003-000000000004",
            "name": "Log AI Output to NEXUS",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                680,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// Format the final output\nconst payment = $('NEXUS Payment Webhook').item.json;\nconst emailContent = $('Ollama — Write Welcome Email').item.json;\n\nreturn [{\n  json: {\n    status: 'processed',\n    customer: payment.email,\n    tier: payment.tier,\n    amount: `$${((payment.amount || 0) / 100).toFixed(2)}`,\n    aiEmailGenerated: emailContent.ok,\n    emailPreview: emailContent.response?.substring(0, 200) + '...',\n    model: emailContent.model,\n    timestamp: new Date().toISOString()\n  }\n}];"
            },
            "id": "c3d4e5f6-0003-0003-0003-000000000005",
            "name": "Format Summary",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                900,
                300
            ]
        }
    ],
    "connections": {
        "NEXUS Payment Webhook": {
            "main": [
                [
                    {
                        "node": "Ollama — Write Welcome Email",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Ollama — Analyze System Logs",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Ollama — Write Welcome Email": {
            "main": [
                [
                    {
                        "node": "Log AI Output to NEXUS",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Log AI Output to NEXUS": {
            "main": [
                [
                    {
                        "node": "Format Summary",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "tags": [
        {
            "name": "VeilPiercer"
        },
        {
            "name": "Ollama"
        }
    ]
}